doctype html
html
  head
    title My Web Application
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 Welcome to My Web Application
    main
      p This is the homepage of my web application.
      p It's a great place to start exploring!
    footer
      p © 2024 My Web Application. All rights reserved.