doctype html
html
  head
    title= pageTitle
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 My Web Application
    main
      block content
    footer
      p © #{year} My Web Application. All rights reserved.